{% extends "ElecmsBundle:Install:step.html.twig" %}

{% block head %}
    {% set step = 'Krok 1' %}
    {{ parent() }}
{% endblock %}

{% block content %}
<div class="col-xs-offset-1 col-xs-10 col-sm-offset-2 col-sm-8 col-md-offset-3 col-md-6"><h3>Krok 1 - Baza danych, SMTP oraz Token</h3></div>
<div class="col-xs-offset-1 col-xs-10 col-sm-offset-2 col-sm-8 col-md-offset-3 col-md-6 well">

    {{ form_start(form) }}
        <div class="form-group">
            <div class="col-xs-12 col-md-5" style="text-align:right;">
             {{ form_label(form.server, 'Database server') }}
            </div>
            <div class="col-xs-12 col-md-7">
                {{ form_widget(form.server, { 'attr': {'class': 'form-control', 'placeholder': 'ex. localhost'} }) }}
            </div>
        </div>
        <div class="form-group">
            <div class="col-xs-12 col-md-5" style="text-align:right;">
            {{ form_label(form.server, 'Database name') }}
                </div>
            <div class="col-xs-12 col-md-7">
                {{ form_widget(form.database, { 'attr': {'class': 'form-control'} }) }}
            </div>
        </div>
        <div class="form-group">
            <div class="col-xs-12 col-md-5" style="text-align:right;">
            {{ form_label(form.user, 'User') }}
                </div>
            <div class="col-xs-12 col-md-7">
                {{ form_widget(form.user, { 'attr': {'class': 'form-control'} }) }}
            </div>
        </div>
        <div class="form-group">
            <div class="col-xs-12 col-md-5" style="text-align:right;">
            {{ form_label(form.password, 'Password') }}
            </div>
            <div class="col-xs-12 col-md-7">
                {{ form_widget(form.password, { 'attr': {'class': 'form-control'} }) }}
            </div>
        </div>

</div>

<div class="col-xs-offset-1 col-xs-10 col-sm-offset-2 col-sm-8 col-md-offset-3 col-md-6 well">
    <div style="text-align:center;">
                   {{ form_label(form.skip, 'Skip the SMTP confirguration') }}
                    {{ form_widget(form.skip) }}
    </div>
    <div id="smtp">
        <div class="form-group">
            <div class="col-xs-12 col-md-5" style="text-align:right;">
            {{ form_label(form.mailhost, 'SMTP host', { 'label_attr': { 'style':'text-align:right;'} }) }}
            </div>
            <div class="col-xs-12 col-md-7">
                {{ form_widget(form.mailhost, { 'attr': {'class': 'form-control'} }) }}
            </div>
        </div>
        <div class="form-group">
            <div class="col-xs-12 col-md-5" style="text-align:right;">
            {{ form_label(form.mailuser, 'SMTP user', { 'label_attr': {'style':'text-align:right;' } }) }}
            </div>
            <div class="col-xs-12 col-md-7">
                {{ form_widget(form.mailuser, { 'attr': {'class': 'form-control'} }) }}
            </div>
        </div>
        <div class="form-group">
            <div class="col-xs-12 col-md-5" style="text-align:right;">
            {{ form_label(form.mailpassword, 'SMTP password', { 'label_attr': {'style':'text-align:right;' } }) }}
            </div>
            <div class="col-xs-12 col-md-7">
                {{ form_widget(form.mailpassword, { 'attr': {'class': 'form-control'} }) }}
            </div>
        </div>
        </div>
</div>

    <div class="col-xs-offset-1 col-xs-10 col-sm-offset-2 col-sm-8 col-md-offset-3 col-md-6 well">
    <div class="form-group">
        <div class="col-xs-12 col-md-5">
        {{ form_label(form.token, 'Security token (min. 10 chars)', { 'label_attr': {'style':'text-align:right;'} }) }}
            <br /><a href="javascript://" class="what" data-placement="top" data-toggle="popover" data-content="{% trans %}This is your random character string which protects your website from CSRF attack.{% endtrans %}">
                {% trans %}What is it?{% endtrans %}
            </a>
            </div>
            <div class="col-xs-12 col-md-7">
            {{ form_widget(form.token, { 'attr': {'class': 'form-control'} }) }}
                <button class="btn btn-default" onClick="randomString();">{% trans %}Generate{% endtrans %}</button>
            </div>

        <div class="col-xs-12 col-md-5">

        </div>

    </div>
    </div>

    <div class="col-xs-offset-1 col-xs-10 col-sm-offset-2 col-sm-8 col-md-offset-3 col-md-6 well">
        <div class="form-group" style="margin-top: -20px;">
                <a href="{{ path('elecms_install') }}" class="btn btn-default step1_btn pull-left">&laquo; {% trans %}Previous{% endtrans %}</a>
                <input type="submit" value="{% trans %}Next{% endtrans %} &raquo;" class="btn btn-primary step1_btn pull-right" />
                {{ form_end(form) }}
        </div>
    </div>

{% endblock %}