<!DOCTYPE html>
<html>
<head>
    {% block head %}
        {% set install_title = 'Instalacja systemu Elecms' %}
        <title>{{ install_title }}{% if step is defined %} : {{ step }}{% endif %} </title>
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('bundles/elecms/css/bootstrap.min.css') }}" type="text/css" media="all" />
            <link rel="stylesheet" href="{{ asset('bundles/elecms/css/step.css') }}" type="text/css" media="all" />
            <link rel="stylesheet" href="{{ asset('bundles/elecms/css/elecms.css') }}" type="text/css" media="all" />
        {% endblock %}
    {% endblock %}
</head>
<body class="step">

    <div class="container">
        {% set count = 0 %}
        {% for flashMessage in app.session.flashbag.get('error') %}
            <div class="alert alert-danger alert-install">
                <strong>{% trans %}Errors found{% endtrans %}:</strong><br/>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">

                    <span aria-hidden="true">&times;</span>
                </button>
                {% autoescape %}
                    {{ flashMessage|raw }}
                {% endautoescape %}
            </div>
        {% endfor %}

        <div class="row">
            {% block content %}{% endblock %}
        </div>
    </div>

    <div id="footer">
        {% block footer %}
            &copy; Copyright 2011 by <a href="http://domain.invalid/">you</a>.
        {% endblock %}
    </div>

{% block javascripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="{{ asset('bundles/elecms/js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('bundles/elecms/js/install.js') }}"></script>
{% endblock %}
</body>
</html>